<a href="https://colab.research.google.com/github/FabioCoder/DataScienceSS20/blob/Block_2/Notebooks/01_c_Python-Intro/02_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python II - Strings
* Based on a lecture series by Rajath Kumart (https://github.com/rajathkumarmp/Python-Lectures)
* Ported to Python3 and extessions added by Janis Keuper
* Copyright: Creative Commons Attribution 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by/3.0/

In [1]:
#check if notebook runs in colab
import sys
IN_COLAB = 'google.colab' in sys.modules
print('running in Colab:',IN_COLAB)
path='..'
if IN_COLAB:
  #in colab, we need to clone the data from the repo
  !git clone https://github.com/keuperj/DataScienceSS20.git
  path='DataScienceSS20'

running in Colab: True
Cloning into 'DataScienceSS20'...
remote: Enumerating objects: 248, done.
remote: Total 248 (delta 0), reused 0 (delta 0), pack-reused 248
Receiving objects: 100% (248/248), 45.43 MiB | 25.59 MiB/s, done.
Resolving deltas: 100% (85/85), done.

# Print Statement

The **print** statement can be used in the following different ways :

    - print ("Hello World")
    - print ("Hello", <Variable Containing the String>)
    - print ("Hello" + <Variable Containing the String>)
    - print ("Hello %s" % <variable containing the string>)

In [2]:
print ("Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [3]:
print ('Hey')

Hey

In [5]:
print ("""My name is Rajath Kumar M.P.

I love Python.""")

My name is Rajath Kumar M.P.

I love Python.

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [6]:
string1 = 'World'
print ('Hello', string1)

string2 = '!'
print ('Hello', string1, string2)

Hello World
Hello World !

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [7]:
print ('Hello' + string1 + string2)

HelloWorld!

**%s** is used to refer to a variable which contains a string.

In [8]:
print ("Hello %s" % string1)

Hello World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [9]:
print ("Actual Number = %d" %18)
print ("Float of the number = %f" %18)
print ("Octal equivalent of the number = %o" %18)
print ("Hexadecimal equivalent of the number = %x" %18)
print ("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used.

In [10]:
print ("Hello %s %s" %(string1,string2))

Hello World !

## Other Examples

The following are other different ways the print statement can be put to use.

In [14]:
print ("I want %%d to be printed %s" % 'here')

I want %d to be printed here

In [15]:
print ('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [16]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [17]:
print ("I want \\n to be printed.")

I want \n to be printed.

In [18]:
print ("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

# PrecisionWidth and FieldWidth

Fieldwidth is the width of the entire number and precision is the width towards the right. One can alter these widths based on the requirements.

The default Precision Width is set to 6.

In [19]:
"%f" % 3.121312312312

'3.121312'

Notice upto 6 decimal points are returned. To specify the number of decimal points, '%(fieldwidth).(precisionwidth)f' is used.

In [26]:
"%.5f" % 3.121312312312

'3.12131'

If the field width is set more than the necessary than the data right aligns itself to adjust to the specified values.

In [27]:
"%9.5f" % 3.121312312312

'  3.12131'

Zero padding is done by adding a 0 at the start of fieldwidth.

In [34]:
"%020.5f" % 3.121312312312

'00000000000003.12131'

For proper alignment, a space can be left blank in the field width so that when a negative number is used, proper alignment is maintained.

In [31]:
print ("% 9f" % 3.121312312312)
print ("% 9f" % -3.121312312312)

 3.121312
-3.121312

'+' sign can be returned at the beginning of a positive number by adding a + sign at the beginning of the field width.

In [35]:
print ("%+9f" % 3.121312312312)
print ("% 9f" % -3.121312312312)

+3.121312
-3.121312

As mentioned above, the data right aligns itself when the field width mentioned is larger than the actualy field width. But left alignment can be done by specifying a negative symbol in the field width.

In [38]:
"%-9.3f" % 3.121312312312

'3.121    '

## Strings

Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [0]:
String0 = 'Taj Mahal is beautiful'
String1 = "Taj Mahal is beautiful"
String2 = '''Taj Mahal
is
beautiful'''

In [40]:
print (String0 , type(String0))
print (String1, type(String1))
print (String2, type(String2))

Taj Mahal is beautiful <class 'str'>
Taj Mahal is beautiful <class 'str'>
Taj Mahal
is
beautiful <class 'str'>

String Indexing and Slicing are similar to Lists which was explained in detail earlier.

In [41]:
print (String0[4])
print (String0[4:])

M
Mahal is beautiful

### Built-in Functions

**find( )** function returns the index value of the given data that is to found in the string. If it is not found it returns **-1**. Remember to not confuse the returned -1 for reverse indexing value.

In [42]:
print (String0.find('al'))
print (String0.find('am'))

7
-1

The index value returned is the index of the first element in the input data.

In [43]:
print (String0[7])

a

One can also input **find( )** function between which index values it has to search.

In [48]:
print (String0.find('j',1))
print (String0.find('j',1,3))
print (String0.find('j',0,2))

2
2
-1

**capitalize( )** is used to capitalize the first element in the string.

In [49]:
String3 = 'observe the first letter in this sentence.'
print (String3.capitalize())

Observe the first letter in this sentence.

**center( )** is used to center align the string by specifying the field width.

In [50]:
String0.center(70)

'                        Taj Mahal is beautiful                        '

One can also fill the left out spaces with any other character.

In [54]:
String0.center(70,'-')

'------------------------Taj Mahal is beautiful------------------------'

**zfill( )** is used for zero padding by specifying the field width.

In [56]:
#Fill the string with zeros until it is 30 characters long:
String0.zfill(30)

'00000000Taj Mahal is beautiful'

**expandtabs( )** allows you to change the spacing of the tab character. '\t' which is by default set to 8 spaces.

In [57]:
s = 'h\te\tl\tl\to'
print (s)
print (s.expandtabs(1))
print (s.expandtabs())

h	e	l	l	o
h e l l o
h       e       l       l       o

**endswith( )** function is used to check if the given string ends with the particular char which is given as input.

In [58]:
print (String0.endswith('y'))

False

The start and stop index values can also be specified.

In [61]:
print (String0)
print (String0.endswith('l',0))
print (String0.endswith('M',0,5))
print (String0.endswith('M',0,4))

Taj Mahal is beautiful
True
True
False

**count( )** function counts the number of char in the given string. The start and the stop index can also be specified or left blank. (These are Implicit arguments which will be dealt in functions)

In [62]:
print (String0.count('a',0))
print (String0.count('a',5,10))

4
2

**join( )** function is used add a char in between the elements of the input string.

In [65]:
'a'.join('*_-')

'*a_a-'

'*_-' is the input string and char 'a' is added in between each element

**join( )** function can also be used to convert a list into a string.

In [66]:
a = list(String0)
print (a)
b = ''.join(a)
print (b)

['T', 'a', 'j', ' ', 'M', 'a', 'h', 'a', 'l', ' ', 'i', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']
Taj Mahal is beautiful

Before converting it into a string **join( )** function can be used to insert any char in between the list elements.

In [67]:
c = '/'.join(a)[18:]
print (c)

 /i/s/ /b/e/a/u/t/i/f/u/l

**split( )** function is used to convert a string back to a list. Think of it as the opposite of the **join()** function.

In [68]:
d = c.split('/')
print (d)

[' ', 'i', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']

In **split( )** function one can also specify the number of times you want to split the string or the number of elements the new returned list should conatin. The number of elements is always one more than the specified number this is because it is split the number of times specified.

In [69]:
e = c.split('/',3)
print (e)
print (len(e))

[' ', 'i', 's', ' /b/e/a/u/t/i/f/u/l']
4

**lower( )** converts any capital letter to small letter.

In [70]:
print (String0)
print (String0.lower())

Taj Mahal is beautiful
taj mahal is beautiful

**upper( )** converts any small letter to capital letter.

In [71]:
String0.upper()

'TAJ MAHAL IS BEAUTIFUL'

**replace( )** function replaces the element with another element.

In [72]:
String0.replace('Taj Mahal','Bengaluru')

'Bengaluru is beautiful'

**strip( )** function is used to delete elements from the right end and the left end which is not required.

In [0]:
f = '    hello      '

If no char is specified then it will delete all the spaces that is present in the right and left hand side of the data.

In [74]:
f.strip()

'hello'

**strip( )** function, when a char is specified then it deletes that char if it is present in the two ends of the specified string.

In [0]:
f = '   ***----hello---*******     '

In [76]:
f.strip('*')

'   ***----hello---*******     '

The asterisk had to be deleted but is not. This is because there is a space in both the right and left hand side. So in strip function. The characters need to be inputted in the specific order in which they are present.

In [77]:
print (f.strip(' *'))
print (f.strip(' *-'))

----hello---
hello

**lstrip( )** and **rstrip( )** function have the same functionality as strip function but the only difference is **lstrip( )** deletes only towards the left side and **rstrip( )** towards the right.

In [78]:
print (f.lstrip(' *'))
print (f.rstrip(' *'))

----hello---*******
   ***----hello---

## Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [79]:
d0 = {}
d1 = dict()
print (type(d0), type(d1))

<class 'dict'> <class 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [80]:
d0['One'] = 1
d0['OneTwo'] = "12" 
print (d0)

{'One': 1, 'OneTwo': '12'}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [81]:
print (d0['One'])

1

Two lists which are related can be merged to form a dictionary.

In [0]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5,8]

**zip( )** function is used to combine two lists

In [83]:
d2 = zip(names,numbers)
print (d2)

<zip object at 0x7fb5685fcc08>

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. **dict( )** function is used.

In [84]:
a1 = dict(d2)
print (a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

### Built-in Functions

**clear( )** function is used to erase the entire database that was created.

In [85]:
a1.clear()
print (a1)

{}

Dictionary can also be built using loops.

In [86]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print (a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

**values( )** function returns a list with all the assigned values in the dictionary.

In [87]:
a1.values()

dict_values([1, 2, 3, 4, 5])

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [88]:
a1.keys()

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [89]:
a1.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [93]:
a2 = a1.pop('Three')
print (a1)
print (a2)

{'One': 1, 'Two': 2}
3